In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.datasets import load_iris

In [3]:
iris = load_iris()

In [4]:
df = pd.DataFrame(np.c_[iris['data'], iris['target']], columns= iris['feature_names'] + ['target'])

In [5]:
df.target = df.target.astype(int)

In [6]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [7]:
def target_name(target):
    target_named = None
    if target == 0:
        target_named = 'setosa'
    elif target == 1:
        target_named =  'versicolor'
    else:
        target_named = 'virginica'
    return target_named

In [8]:
df['target_name'] = df.target.map(lambda x: target_name(x))

In [9]:
df.target_name = df.target_name.astype('category')

In [10]:
df = df.sample(frac = 1)

In [11]:
df.drop('target', axis = 1, inplace = True)

In [12]:
train = df[:120]

In [13]:
test = df[120:]

In [14]:
train.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)', 'target_name'],
      dtype='object')

In [15]:
train_X = train.drop('target_name', axis = 1)
train_Y = train['target_name']

In [16]:
test_X = test.drop('target_name', axis = 1)
test_Y = test['target_name']

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [18]:
log_model = LogisticRegression()
rf_model = RandomForestClassifier()

In [19]:
log_model.fit(train_X, train_Y)

LogisticRegression()

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
test_pred = log_model.predict(test_X)

In [22]:
score_log = accuracy_score(test_Y, test_pred)

In [23]:
score_log

0.9333333333333333

In [24]:
rf_model.fit(train_X, train_Y)

RandomForestClassifier()

In [25]:
test_pred_rf = rf_model.predict(test_X)

In [26]:
score_rf = accuracy_score(test_Y, test_pred_rf)

In [27]:
score_rf

0.9333333333333333

In [28]:
import pickle

In [36]:
pickle.dump(log_model,open("iris_log_model.sav", "wb"))

In [30]:
import os

In [31]:
os.getcwd()

'C:\\Users\\Manish\\Downloads'

In [35]:
rf_model.predict([[4.5, 2.3, 1.3, 0.3]])

C:\Users\Manish\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:441: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array(['setosa'], dtype=object)

In [34]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_name
76,6.8,2.8,4.8,1.4,versicolor
41,4.5,2.3,1.3,0.3,setosa
40,5.0,3.5,1.3,0.3,setosa
83,6.0,2.7,5.1,1.6,versicolor
148,6.2,3.4,5.4,2.3,virginica
...,...,...,...,...,...
88,5.6,3.0,4.1,1.3,versicolor
89,5.5,2.5,4.0,1.3,versicolor
96,5.7,2.9,4.2,1.3,versicolor
142,5.8,2.7,5.1,1.9,virginica
131,7.9,3.8,6.4,2.0,virginica